img{
  height: 300px;
  width: 100px;
  padding-top: 20px;
  transition: transform .4s;
  cursor: pointer;
  
}
img:hover{
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
  
  
}

.tagline{
  font-size: 20px;
  font-weight: bolder;
}

.box{
  text-align: center;
  border: 1px solid rgb(182, 182, 182);
  outline: 10px solid #1D1F22;
  position: relative;
  flex-basis: 310%;
  background-color: #ffd955;
  width: 500px;
  padding: 0.7rem;
  padding-left: 150px;
  margin: 10px 5px 0px 7px;
  padding: 10px 5px 0px 7px;
  overflow: scroll;
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}
.box::-webkit-scrollbar {
  display: none;
}
.flex {
  padding-top: 50px;
  display: flex;
  max-width: 1200px;
  max-height: 800px;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: space-between;
  }

  #Main-image{
    background: url("./2948767.jpg")  ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 650px;
    
    /* filter: blur(4px);
  -webkit-filter: blur(4px); */
    
    
    }

    .bannerline{
      text-align: center;
      font-family: fantasy;
      padding-bottom: 50px;
    }
    
    
    .Main-marketing-text {
    max-width: 1200px;
    margin: -30px auto 0;
    position: absolute;
    top: 31%;
    left: 0;
    right: 0;
    padding-left: 800px;
    /* padding: 0 800px; */
    }
    
    .Main-marketing-text h1 {
    color: whitesmoke;
    font-size: 4.0em;
    font-weight: 300;
    margin: 0.5em 0;
    font-family: cursive;
    }
    
    
    .Main-marketing-text span {
    color: rgb(255, 255, 79);
    transition: 0.3s;
    cursor: pointer;
    text-decoration: solid;
    
    }
    
    .Main-marketing-text span:hover {
    font-size: larger;
    text-shadow: 5px 5px black;
    
    }

    .for{
      color: yellow;
      /* background-color: rgb(36, 30, 30); */
    }



.name{
  font-size: 20px;
  padding-top: 20px;
  transition: transform .4s;
  cursor: pointer;
  border: whitesmoke;
  background-color: black;
  color: #fff;
}


.abv{
  font-size: 20px;
  border: 1px solid black;
}

.Heading{
  font-size: 30px;
  padding-top: 20px;
  transition: transform .4s;
  cursor: pointer;
}

.great{
  background-color: rgb(36, 30, 30);
}

.moments{
  background-color: rgb(36, 30, 30);
}

.FoodPairing{
  font-size: 15px;
  background-color: rgb(255, 245, 152);
  

}

.links a:hover{
  cursor: pointer;
  font-size: larger;
  font-weight: bolder;
}


.brand-logo:hover{
  color: #ffd955;
}
.Footer{
  padding-top: 20px;
  padding-bottom: -20px;
}

 .tabs {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 2%;
  background: #000;
  text-align: center;
  padding: 2%;
  margin-bottom: 18px;
  padding-bottom: 150px;
}
  .tab__item {
  background: white;
  cursor: pointer;
  color: blue;
}